.login-form {
    width: 550px;
    height: 470px;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -200px;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.hidden { display: none; }

.matrix.load {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.matrix {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
-webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
