.login-form {
    width: 550px;
    height: 470px;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -200px;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.hidden { display: none; }

.matrix.load {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.matrix {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
-webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.row div{
  float:left;
  /*border: 1px solid black;*/
  margin: 0.5px;
}
.tilem {
  /*display: inline-block;
  box-sizing: border-box;
  background: #fff;*/
  /*padding: 20px;*/
  /*margin-bottom: 30px;*/
}
.tilem .title {
  margin-top: 0px;
}
.tilem.purple, .tilem.blue, .tilem.red, .tilem.orange, .tilem.green {
  color: #fff;
}
.tilem.purple {
  background: #5133AB;
}
.tilem.purple:hover {
  background: #3e2784;
}
.tilem.red {
  background: #AC193D;
}
.tilem.red:hover {
  background: #7f132d;
}
.tilem.green {
  background: #00A600;
}
.tilem.green:hover {
  background: #007300;
}
.tilem.blue {
  background: #2672EC;
}
.tilem.blue:hover {
  background: #125acd;
}
.tilem.orange {
  background: #DC572E;
}
.tilem.orange:hover {
  background: #b8431f;
}
